@charset "euc-jp";
/* CSS Document */

.d_check{
	display:none;
}

.hamburger{
	position: fixed;
	display: block;
	top: 1px;
    right: 1px;
    border-radius: 4px;
	width: 46px;
	height: 42px;
	font-size: 10px;
	text-align: center;
	z-index: 999999;
	background: #000;
	cursor: pointer;
}

@media screen and (min-width: 779px){
.hamburger{
	display: none;
}
}
.hamburger b {
    position: absolute;
    top: 11px;
    left: 8px;
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}

.hamburger b:nth-child(2) {
    top: 20px;
    opacity: 1;
}

.hamburger b:nth-child(3) {
    top: 30px;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}

.d_check:checked ~ .hamburger b:first-child {
    width: 31px;
    left: 14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.d_check:checked ~ .hamburger b:nth-child(2) {
    opacity: 0;
}

.d_check:checked ~ .hamburger b:nth-child(3) {
    width: 31px;
    top: 32px;
    left: 14px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


#slidemenu {
		font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
		font-size:14px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		position: fixed;
		z-index: 2;
		width: 250px;
		height: 100%;
		top: 44px;
		right: -250px;
		background:rgba(255,255,255,.8);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-transition: opacity 0.3s ease-out;
		transition: opacity 0.3s ease-out;
    opacity: 0;
		margin:0!important;
		}
		
.d_check:checked ~ #slidemenu {
		-webkit-overflow-scrolling: touch;
		right:0;
    opacity: 1;
    z-index: 3;
}

.d_close-menu {
    position: fixed;
    top: 0;
    right: 250px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0);
    -webkit-transition: opacity 0.3s ease-out;
		transition: opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.d_check:checked ~ .d_close-menu {
    background: rgba(0,0,0,.5);
    visibility: visible;
    opacity: 1;
    z-index: 3;
	margin-top: 44px;
}
