@charset "utf-8";
/* CSS Document */



*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, header, footer, aside, figure, figcaption, nav, section { 
  display:block;
}

html {
  overflow-y:scroll; 
}
body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #212121;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-family: "Noto Sans Japanese","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size:14px;
}
a, a:visited, a:hover {
	text-decoration: none;
	color: inherit;
}
ol, ul, li {
  list-style: none;
  list-style-type: none;
}
p,li {
	line-height:1.4;
	margin:0;
	padding: 0;
}
img {  
width: 100%;
    border:0;
	vertical-align: top;
}
address {  
    font-style:normal;  
}
br {
	line-height:0;
}
table, tr, td {
border: 1px solid #CCC;
border-collapse: collapse;
}



/* page-top */
#page-top {
    position: fixed;
	z-index: 999;
    bottom: 30px;
    right: 5px;
}
#page-top a {
    width: 55px;
    padding: 15px 0;
    background: #333;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
	opacity: .4
}
#page-top a:hover {
    text-decoration: none;
    background: #333;
	-webkit-transition:	all 0.8s ease;
	transition:		all 0.8s ease;
	opacity: .2
}
#page-top img {
	width: 60%;
}
@media screen and (max-width:414px){
#page-top {
    bottom: 100px;
	right: 5px;
}
#page-top a {
    width: 45px;
    padding: 12px 0;
    border-radius: 50%;
	opacity: .3
}
}

/* link */
.link {
	font-size: 1rem;
	max-width: 580px;
	width: 90%;
	margin: 2% auto 0;
	background: #000;
}
.link a {
	display: block;
	padding: .5rem .3rem;
	color: #FFF;
	border:2px solid #000;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.link a:hover {
	background: #FFF;
	color: #000;
	border: 2px solid #000;
}
@media screen and (max-width: 414px){
.link {
	font-size: 12px;
}
}

/* in */
.in {
	letter-spacing: -0.4em;
	margin: 0 auto;
	text-align:center;
}
.in div, .in li {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
}
.in div img {
	width: 100%;
}

/* pop */
.base {
	position: relative;
}
.base .pop {
	position: absolute;
	top: 0;
	left: 0;
}

/* pc/sp */
.iframe-pc {display: block;}
.iframe-sp {display: none;}
@media screen and (max-width:414px){
.iframe-pc {display: none;}
.iframe-sp {display: block;text-align: center;}
}
.pc-none {display:none;}
.sp-none {display:block;}
@media screen and (max-width:414px){
.pc-none {display: block;}
.sp-none {display:none;}
}
