@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	width: auto;
	font-family: "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ Pro W3", "メイリオ", "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
	background: #FFF;
	color: #666666;
	font-size: 11px;
	_font-size: 11px;
}

img {
	border: 0;
}

.friend {
	width: 100%;
	height: 240px;
	margin: 0 auto;
	overflow: hidden;
}

.mr_frbox {
	width: 100%;
	height: 240px;
	float: left;
}

.mr_frUl {
	width: 90%;
	height: 240px;
	margin-left: 10px;
	position: absolute;
	text-align: center;
}

.mr_frUl ul li {
	width: 160px;
	float: left;
	margin: auto 18px;
	display: inline;
	position: relative;
	color: #333333;
	text-align: center;
}

.mr_sale_bg {
	width: 160px;
	height: 42px;
	line-height: 30px;
	color: #FFF;
	background-image: url(https://shopping.geocities.jp/fairyhouse0000/pc/common/sale_bg.png);
	background-repeat: no-repeat;
}

.mr_frUl ul li img {
	width: 160px;
	height: 160px;
}

.mr_frUl ul li a:hover img {
	width: 160px;
	height: 160px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.mr_price {
	width: 160px;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	color: #b30300;
}

.mr_price span {
	width: 160px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	font-weight: bold;
	color: #b30300;
}

.mr_frBtnL {
	width: 30px;
	height: 240px;
	cursor: pointer;
	float: left;
	position: relative;
}

.mr_frBtnR {
	width: 30px;
	height: 240px;
	cursor: pointer;
	float: right;
	position: relative;
}
