@charset "utf-8";

/* CSS Document */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
iframe {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	border: 0;
	padding: 0px 0 0 0;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

img:hover {
	opacity: 0.85;
}




.width_box {
	width: 780px;
	margin: 0 auto;
}

#main_box {
	width: 780px;
	margin: 0 auto;
}

#main_box h2 {
	font-size: 32px;
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
	font-family: "FB Miller Display Light", "Times New Roman";
	line-height: 100%;
}

#main_box h2.n01 {
	line-height: 42px;
	width: 780px;
	margin: 0 auto;
	text-indent: 0;
	font-family: "FB Miller Display Light", "Times New Roman";
	text-align: left;
	height: 40px;
	font-weight: 600;
	font-size: 21px;
	-moz-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
	/* -webkit-box-shadow: 0px 4px 3px rgba(0,0,0,0.2); */
	/* box-shadow: 0px 4px 3px rgba(0,0,0,0.2); */
	margin-bottom: 35px;
	float: left;
	background: #FFE4E8;
	position: relative;
	background: url(../img/main/h201.png) no-repeat 0 3px;
	background: #fff;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 7px 0;
	text-indent: 8px;
}

#main_box h2.n01 p {
	display: inline-block;
	float: left;
	line-height: inherit;
	margin: 0 8px 0 6px;
	font-size: 24px;
	font-family: "FB Miller Display Light", "Times New Roman";
	text-transform: uppercase;
}

#main_box h2.n01 span {
	font-size: 14px;
	display: inline-block;
	float: left;
	text-align: left;
	width: initial;
	line-height: 45px;
	font-weight: 100;
}

h2.n01 .more {
	position: absolute;
	right: 10px;
	top: 3px;
	text-decoration: underline;
	font-size: 16px;
}

#main_box img:hover {
	opacity: 0.80;
}

h2.n02 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background: url(../img/main/title_hr.jpg) repeat-x 0 0;
	height: 110px;
	position: relative;
	margin-bottom: 8px;
}

h2.n02 p {
	font-family: "FB Miller Display Light", "Times New Roman";
	font-size: 28px;
	margin-top: 38px;
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	/* width: auto; */
	padding-left: 12px;
	display: inline-block;
	padding-right: 12px;
	height: 35px;
	background: #ffffff;
}

h2.n02 span {
	font-size: 14px;
	display: block;
	width: initial;
	margin-top: -6px;
}

h2.n02 .more {
	position: absolute;
	right: 3px;
	top: 3px;
}

h3.n02 {
	width: 100%;
	text-align: center;
	font-size: 14px;
}

h3.n02 a {
	text-decoration: underline;
	color: #3434f0;
}

.mabenner_box {
	padding: 40px 0;

	border-top: 1px solid #b2b2b2;
	/* background-color: white; */
	border-bottom: 1px solid #b2b2b2;
}

.mabenner_box h2 {}

.mabenner_box img {
	width: 100%;
}

.mabenner_box .n01 {
	float: left;
	margin: 0 0 0 0;
	width: 295px;
}

.mabenner_box .n02 {
	float: left;
	margin: 0 0 0 45px;
	width: 255px;
}

.mabenner_box .n03 {
	float: left;
	margin: 0 0 0 45px;
	width: 460px;
}

.mabenner_box .n02 .t1 {
	height: 250px;
}

.mabenner_box p {
	font-size: 14px;
	margin: 3px 0 0;
	text-align: left;
	display: block;
}

.mabenner_box span {
	font-size: 14px;
	text-align: left;
	width: 100%;
	display: block;
}



.ma_img {
	padding: 0;
	margin-bottom: 30px;
}

.ma_img h2 {}

.ma_img img {
	width: 100%;
}

.mb_img {
	width: 100%;
	margin-bottom: 35px;
}

.mb_img .n01 {
	float: left;
	margin: 0 0 0 0;
	width: 370px;
}

.mb_img .n02 {
	float: left;
	margin: 0 0 0 18px;
	width: 185px;
}

.mb_img .n03 {
	float: left;
	margin: 0 0 0 18px;
	width: 185px;
}

.mb_img img {
	width: 100%;
}

.mb_img .width_box p {
	line-height: 18px;
	margin: 3px 0;
}

.mb_img .width_box span {
	text-align: left;
	display: block;
	font-weight: 100;
	font-size: 13px;
	color: #ff2121;
}



.mbbenner_box {
	margin-bottom: 40px;
}

.mbbenner_box li {
	float: left;
	margin-right: 20px;
	border: 1px solid #ebebeb;
	width: 222px;
	height: 465px;
	overflow: hidden;
	margin-bottom: 18px;
}

.mbbenner_box li img {
	max-width: 100%;
}

.mbbenner_box li p {
	margin: 3px 0 0;
}



.mcbenner_box {
	background: #e9e9e9;
	padding: 15px;
	margin-bottom: 40px;
}

.mcbenner_box ul {
	padding: 0 12px;
}

.mcbenner_box li {
	float: left;
	margin-right: 26px;
	/* border: 1px solid #ebebeb; */
	width: 374px;
	/* height: 465px; */
	overflow: hidden;
	margin-bottom: 18px;
}

.mcbenner_box img {
	max-width: 100%;
}

.mcbenner_box li p {
	margin: 4px 0 0;
}


.mdbenner_box {
	padding: 40px 0;
	border-bottom: 1px solid #b2b2b2;
}

.mdbenner_box img {
	max-width: 100%;
}

.mdbenner_box .left {
	width: 440px;
	float: left;
	margin-right: 65px;
	margin-top: 25px;
}

.mdbenner_box .right {
	width: 450px;
	margin-top: 25px;
	float: left;
	text-align: left;
}

.mdbenner_box .right h3 {
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 140%;
	float: left;
}

.mdbenner_box .right p {
	border-bottom: 4px solid #000;
	height: 135px;
	overflow: hidden;
	margin-bottom: 30px;
	float: left;
}

.mdbenner_box .right .item {
	margin-bottom: 20px;
	float: left;
}

.mdbenner_box .right .item li {
	width: 125px;
	margin-right: 23px;
	height: auto;
	float: left;
}

.mdbenner_box .right .item li:nth-of-type(4) {
	margin-right: 0px;
}

.mdbenner_box .right .item li p {
	border-bottom: none;
	height: auto;
	line-height: 150%;
	margin-top: 3px;
	margin-bottom: 0;
}

.mdbenner_box .right .item img {
	max-width: 100%;
}





.mebenner_box {
	margin-bottom: 40px;
	margin-top: 20px;
	display: inline-block;
}

.mebenner_box ul {
	width: 695px;
	margin-right: 10px;
	float: left;
	height: 210px;
	overflow: hidden;
}

.mebenner_box ul li {
	display: block;
	margin-bottom: 8px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 18px;
	color: #333;
	text-align: left;
	float: left;
	width: 100%;
}

.mebenner_box .news_banner {
	float: left;
	width: 380px;
	margin-top: 10px;
}

.mebenner_box img {
	max-width: 100%;
}



.mfbenner_box {
	margin-bottom: 40px;
}

.mfbenner_box h2 {
	font-size: 32px;
	text-align: center;
	width: 100%;
	background: #e9e9e9;
	padding: 10px 0 8px;
	margin-bottom: 25px;
	font-family: "FB Miller Display Light", "Times New Roman";
	line-height: 100%;
}

.mfbenner_box h2 p {
	display: block;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "FB Miller Display Light", "Times New Roman";
	margin-bottom: 5px !important;
}

.mfbenner_box h2 span {
	font-size: 16px;
	display: block;
	width: initial;
}

.mfbenner_box .n01 {
	float: left;
	margin: 0 18px 0 0;
	width: 293px;
	border: 1px solid #ededed;
	padding-bottom: 15px;
}

.mfbenner_box .n02 {
	float: left;
	margin: 0 18px 0 0;
	width: 312px;
	border: 1px solid #ededed;
	padding-bottom: 15px;
}

.mfbenner_box .n03 {
	float: left;
	margin: 0 14px 0 0;
	width: 312px;
	border: 1px solid #ededed;
	padding-bottom: 15px;
}

.mfbenner_box .n04 {
	float: left;
	margin: 0;
	width: 224px;
	border: 1px solid #ededed;
	padding-bottom: 15px;
}

.mfbenner_box .width_box p {
	margin: 5px 0 0;
}

.mfbenner_box img {
	max-width: 100%;
}




.mgbenner_box {
	margin-bottom: 40px;
}

.mgbenner_box .top {
	width: 100%;
	text-align: center;
}

.mgbenner_box ul {
	padding: 0 0 0 0px;
}

.mgbenner_box.rank ul {
	padding: 0 0 0 0px;
}

.mgbenner_box.pick ul {
	padding: 0 0 0 12px;
}


.mgbenner_box li {
	float: left;
	margin-right: 16px;
	width: 182px;
	overflow: hidden;
	margin-bottom: 18px;
	margin-bottom: 24px;
}

.mgbenner_box.rank li {
	margin-right: 30px;
	margin-top: 15px;
	width: 132px;
	margin-bottom: 20px;
}

.mgbenner_box.pick li {
	margin-right: 16px;
	margin-bottom: 25px;
	width: 245px;
}


.mgbenner_box li div {
	margin: 3px 0 7px;

}

.mgbenner_box li div .day {
	font-size: 13px;
	padding: 0 5px 0 0;
	line-height: 1;
	color: #545dc1;
	display: inline-block;
}

.mgbenner_box li div .new {
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	margin-right: 2px;
	display: inline-block;
	line-height: 1;
	/* color: #D96196; */
	/* border: 1px #D96196 solid; */
	color: #6E74BB;
	border: 1px #6E74BB solid;
}

.mgbenner_box.pick li:nth-of-type(3) {
	margin-right: 0px;
}

.mgbenner_box.pick li:nth-of-type(6) {
	margin-right: 0px;
}

.mgbenner_box.pick li:nth-of-type(9) {
	margin-right: 0px;
}

.mgbenner_box.re li:nth-of-type(4) {
	margin-right: 0px;
}

.mgbenner_box.re li:nth-of-type(8) {
	margin-right: 0px;
}

.mgbenner_box.re li:nth-of-type(12) {
	margin-right: 0px;
}

.mgbenner_box.re li:nth-of-type(16) {
	margin-right: 0px;
}



.mgbenner_box.rank li:nth-of-type(1) {
	padding-top: 0px;
	background: url(../img/main/rank01.jpg) no-repeat center 0;
	background-size: 60%;
}

.mgbenner_box.rank li:nth-of-type(2) {
	padding-top: 0px;
	background: url(../img/main/rank02.jpg) no-repeat center 0;
	background-size: 60%;
}

.mgbenner_box.rank li:nth-of-type(3) {
	padding-top: 0px;
	background: url(../img/main/rank03.jpg) no-repeat center 0;
	background-size: 60%;
}

.mgbenner_box.rank li:nth-of-type(4) {
	padding-top: 0px;
	background: url(../img/main/rank04.jpg) no-repeat center 0;
	background-size: 60%;
}

.mgbenner_box.rank li:nth-of-type(5) {
	padding-top: 0px;
	background: url(../img/main/rank05.jpg) no-repeat center 0;
	margin-right: 0px;
	background-size: 60%;
}




.mgbenner_box li img {
	width: 100%;
	border: 0px solid #ebebeb;
	margin-bottom: 5px;
}

.mgbenner_box li p {
	margin: 5px 0 2px;
	text-align: left;
	line-height: 140%;
	font-size: 12px;
}

.mgbenner_box li span {
	text-align: left;
	display: block;
	font-weight: 100;
	font-size: 12px;
	color: #ff2121;
}

.mgbenner_box li span.red {
	text-align: center;
	display: inline-block;
	font-weight: 100;
	font-size: 13px;
	border: 1px solid #d6a2cd;
	color: #d6a2cd;
	padding: 2px 4px;
	margin-right: 6px;
}

.mgbenner_box li span.blue {
	text-align: center;
	display: inline-block;
	font-weight: 100;
	font-size: 13px;
	border: 1px solid #6c74c2;
	color: #6c74c2;
	padding: 2px 4px;
	margin-right: 6px;
}


.r_more {
	text-align: right;
	margin-bottom: 18px;
}

.r_more a {
	display: block;
	height: 52px;
	width: 280px;
	line-height: 53px;
	color: #fff;
	margin: auto auto;
	text-align: center;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 15px;
	background-color: #9c9c9c;
	/* border: 0px solid #fff; */
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.r_more a:hover {
	background-color: #6c6c6c;
	text-decoration: none;
}


.mhbenner_box h2 {
	background: #ca0000;
	padding: 15px 0 8px;
	color: #fff;
}

.mhbenner_box h2 p {
	display: block;
	font-size: 32px;
	font-family: "FB Miller Display Light", "Times New Roman";
	margin-bottom: 5px !important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.mhbenner_box h2 span {
	font-size: 16px;
	display: block;
	width: initial;
}

.mhbenner_box li {
	float: left;
	margin-right: 20px;
	width: 224px;
	overflow: hidden;
	margin-bottom: 18px;
	margin-bottom: 25px;
}

.mhbenner_box li img {
	max-width: 100%;
	border: 1px solid #ebebeb;
}

.mhbenner_box li p {
	margin: 5px 0 2px;
	text-align: left;
	line-height: 140%;
}

.mhbenner_box li span {
	text-align: left;
	display: block;
	font-weight: 600;
	color: #ca0000;
	font-size: 14px;
}


.mibenner_box {
	width: 100%;
	padding: 15px 0;
	background: #e9e9e9;
	margin-bottom: 10px;
}

.mibenner_box li {
	float: left;
	margin-right: 25px;
	border: 0px solid #ebebeb;
	width: 280px;
	overflow: hidden;
	margin-bottom: 20px;
}

.mibenner_box li img {
	max-width: 100%;
}

.mibenner_box li p {
	margin: 3px 0 0;
	text-align: left;
}




.mjbenner_box h2.n02 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background: url(../img/main/title_hr.jpg) repeat-x 0 0;
	height: 110px;
}

.mjbenner_box h2.n02 p {
	font-family: "FB Miller Display Light", "Times New Roman";
	font-size: 32px;
	margin-top: 38px;
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	/* width: auto; */
	padding-left: 12px;
	display: inline-block;
	padding-right: 12px;
	height: 40px;
	background: #ffffff;
}

.mjbenner_box h2.n02 span {
	font-size: 16px;
	display: block;
	width: initial;
}



.cate_list {
	width: 100%;
	display: block;
}

.cate_list a {
	font-family: 'ＭＳ Ｐゴシック', sans-serif;
}

.cate_list #lnavbox h3 {
	padding: 0;
	background: none;
	text-align: left;
	margin-bottom: 15px;
}

.cate_list #lnavbox h3 a {
	font-size: 24px;
	font-family: "FB Miller Display Light", "Times New Roman";
	font-weight: 100;
	color: #000;
}

.cate_list #lnavbox li {
	padding: 0;
	margin: 5px 0;
}

.cate_list #lnavbox {
	width: 18%;
	margin: 5px 1% 40px;
	float: left;
}

.cate_list #lnavbox h4 {
	height: 25px;
	font-size: 12px;
	line-height: 28px;
}

.cate_list #lnavbox h4 a {
	line-height: 28px;
	background: url(../img/left/level02.jpg) 0 0 no-repeat;
}

.cate_list #lnavbox li a {
	font-size: 16px;
	font-family: "FB Miller Display Light", "Times New Roman";
	line-height: 18px;
	color: #555;
	font-weight: 100;
}

.cate_list #lnavbox li a:hover {
	padding: 0 0 0 15px;
}




.mabenner_box {
	padding: 0px 0;
	WIDTH: 100%;
	margin: 0 auto 40px;
	border-top: 0px solid #b2b2b2;
	border-bottom: 0px solid #b2b2b2;
}

h3.n1 {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background: url(../img/main/title_hr.jpg) repeat-x 0 0;
	height: 110px;
}

h3.n1 p {
	font-family: "FB Miller Display Light", "Times New Roman";
	font-size: 30px;
	margin-top: 38px;
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	/* width: auto; */
	padding-left: 12px;
	display: inline-block;
	padding-right: 12px;
	height: 35px;
	background: #ffffff;
}

h3.n1 span {
	font-size: 16px;
	display: block;
	width: initial;
	text-align: center;
}

.mabenner_box img {
	width: 100%;
}

.mabenner_box .n01 {
	float: left;
	margin: 0 0 0 0px;
	width: 370px;
}

.mabenner_box .n02 {
	float: left;
	margin: 0 0 0 18px;
	width: 185px;
}

.mabenner_box .n03 {
	float: left;
	margin: 0 0 0 18px;
	width: 185px;
}

.mabenner_box .n02 .t1 {
	height: 220px;
}

.mabenner_box p {
	font-size: 12px;
	margin: 3px 0 0;
	text-align: left;
	display: block;
	line-height: 16px;
}

.mabenner_box .width_box span {
	text-align: left;
	display: block;
	font-weight: 100;
	font-size: 13px;
	color: #ff2121;
}
