@charset "utf-8";

@import url(reset.css);

/*  base
-----------------------------------------------------------------*/
a {
    text-decoration: none;
    transition: .7s;
}
a:hover {
    opacity: .7;
}
.visible_sp {
    display: none;
}

@media only screen and (max-width: 767px) {
    .visible_pc {
        display: none;
    }
    .visible_sp {
        display: block;
    }
}

/*  utility
-----------------------------------------------------------------*/
.cf {
    zoom: 1;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.fw_b {
    font-weight: bold;
}
.red_01 {
    color: #f4442e;
}

/*  header
-----------------------------------------------------------------*/
header {
    margin: 0 0 60px;
}
.header_innner.visible_sp {
    display: none;
}
.header_inner {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px 20px 0;
}
.g_nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 10px;
}
.g_nav li {
    font-size: 1.3rem;
}
.g_nav li:after {
    content: '/';
    display: inline-block;
    color: #bbb;
    margin: 0 0 0 1rem;
}
.g_nav li:last-child:after {
    content: none;
}
.g_nav a {
    margin: 0 0 0 1em;
    color: #999;
    position: relative;
    display: inline-block;
}
.g_nav a:after{
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #888;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.g_nav a:hover:after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
}
.header_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 10px;
    border-bottom: 1px solid #eee;
}
.header_head_l {
    display: flex;
}
.header_head_l .head_id img {
    width: 200px;
    height: auto;
}
.header_head_r {
    display: flex;
    justify-content: flex-end;
}
.header_head_r ul {
    display: flex;
    justify-content: flex-end;
}
.header_head_r ul li {
    margin: 0 0 0 1rem;
}
.header_head_r ul li:nth-of-type(1),
.header_head_r ul li:nth-of-type(2),
.header_head_r ul li:nth-of-type(3){
    height: 36px;
    line-height: 36px;
    background: #ddd;
}
.header_head_r .bnr_warranty img {
    width: 118px;
}
.header_head_r ul .head_track img {
    width: 170px;
    height: auto;
}
.header_head_r ul .header_cart img {
    width: 36px;
    height: auto;
}
.header_middle {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.header_middle .pointSlider {
    margin: 0 0 0 40px;
}
.header_middle .point_slider {
    width: 468px;
}
.header_middle .point_slider img {
    width: 468px;
}
.header_middle iflame {
	display: block;
	text-align: right;
	vertical-align: top;
}
@media only screen and (max-width: 767px) {
    .pointSlider {
        margin: 10px;
    }
    .point_slider {
        width: 100%;
    }
    .point_slider img {
        width: 100%;
        height: auto;
    }
}
/*  楽天searchbox
-----------------------------------------------------------------*/
.header_serch {
    width: 100%;
}
.searchbox_form {
    max-width: 500px;
    position: relative;
}
.searchbox_input {
    height: 60px;
    width: 100%;
    padding: 0 20px 0 15px;
    font-size: 12px;
    border: 10px solid #e8e8e8;
	border-radius: 0;
    float: left;
}
.searchbox_btn {
    border-top: 10px solid #e8e8e8;
    border-right: 10px solid #e8e8e8;
    border-bottom: 10px solid #e8e8e8;
	border-radius: 0;
    height: 60px;
    padding: 12px;
    background-color: #f2f2f2;
    transition: .7s;
    position: absolute;
    top: 0;
    right: 0;
}
.searchbox_btn:hover {
    opacity: 0.7;
}
input[type="text"]:focus {
    outline: 0;
}
input::placeholder {
    color: #bbb;
}
/* IE */
input:-ms-input-placeholder {
    color: #bbb;
}
/* Edge */
input::-ms-input-placeholder {
    color: #bbb;
}
@media only screen and (max-width: 767px) {
    .header_search_sp {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .searchbox_form {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .searchbox_input {
        height: 32px;
        width: 100%;
        padding: 0 20px 0 10px;
        font-size: 12px;
        border: 1px solid #dcdcdc;
		
        float: left;
		box-sizing: border-box;/* safari対策 */
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-appearance: none;
    }
    .searchbox_btn {
        border-top: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        height: 32px;
        padding: 5px;
        background-color: #ececec;
        transition: .7s;
        position: absolute;
        top: 0;
        right: 0;
    }
    /*
    .searchbox_textbutton {
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    height: 40px;
    padding: 9px;
    background-color: #ececec;
    transition: .7s;
    position: absolute;
    top: 0;
    right: 0;
}
    */
    .searchbox_btn:hover {
        opacity: 0.7;
    }
    input[type="text"]:focus {
        outline: 0;
    }
}
body {
    overflow-x: hidden;
}
.cat_nav {
    font-size: 1.4rem;
}
.cat_nav > ul.cat_nav_inner {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid #eee;
}
.cat_nav_inner > li {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    height: 46px;
    line-height: 46px;
}
.cat_nav_inner > li a {
    display: block;
    text-align: center;
}
.cat_nav_inner > li:hover {
    background : #efefef;
}
.cat_nav_inner > li:hover > a {
    opacity: 1;
}
.cat_nav_inner > li > div{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 500;
    width: 100vw;
    margin-right: calc(((100vw - 100%) / 2) * -1);
    margin-left: calc(((100vw - 100%) / 2) * -1);
    background: #efefef;
    -webkit-filter:drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    -moz-filter:drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    -ms-filter:drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    filter:drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.cat_nav_inner > li:hover > div {
    visibility: visible;
    opacity: 1;
    padding: 10px 0;
}
.cat_nav_inner > li > div > ul {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.cat_nav_inner > li > div > ul > li {
    width: 25%;
    display: flex;
    justify-content: center;
}
.cat_nav_inner > li > ul > li a {
    display: block;
    padding: 0;
}
.cat_nav_inner > li > div > ul > li a:hover {
    text-decoration: underline;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .header_pc {
        display: none;
    }
    .header_sp {
        display: block;
        width: 100%;
    }
    .header_inner {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .header_sp .header_head_top {
        display: block;
        position: relative;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        height: 50px;
    }

    /*  hamburger-menu
    -----------------------------------------------------------------*/
    .header_sp .nav_btn {
        display: block;
        width: 32px;
        height: 24px;
        position: absolute;
        top: 14px;
        z-index: 100;
    }
    .header_sp .menu-trigger, .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }
    .header_sp .menu-trigger {
        position: relative;
        width: 32px;
        height: 24px;
    }
    .header_sp .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333;
        transition: all 0.2s;
        transform: rotate(0deg);
    }
    .header_sp .menu-trigger span:nth-of-type(1) {
        top: 0;
    }
    .header_sp .menu-trigger span:nth-of-type(2) {
        top: 11px;
    }
    .header_sp .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }
    .header_sp .menu-trigger.active span:nth-of-type(1) {
        -webkit-transform: translateY(11px) rotate(-315deg);
        transform: translateY(11px) rotate(-315deg);
    }
    .header_sp .menu-trigger.active span:nth-of-type(2) {
        opacity: 0;
    }
    .header_sp .menu-trigger.active span:nth-of-type(3) {
        -webkit-transform: translateY(11px) rotate(315deg);
        transform: translateY(-11px) rotate(315deg);
    }

    /*  global-nav
    -----------------------------------------------------------------*/
    .header_sp .header_gnav_sp {
        display: none;
        position: absolute;
        top: 50px;
        width: 100%;
        height: 100vh;
        background: rgba(61, 88, 131, 0.8);
        left: 0;
        z-index: 200;
    }
    .header_sp .header_gnav_sp ul {
        display: block;
        width: 100%;
    }
    .header_sp .header_gnav_sp ul li {
        position: relative;
    }
    .header_sp .header_gnav_sp ul li a {
        display: block;
        padding: 15px;
        color: #fff; 
    }
    .header_sp .header_gnav_sp ul li a:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        width: 6px;
        height: 6px;
        margin: -4px 0 0 0;
        border-top: solid 2px #fff;
        border-right: solid 2px #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .header_sp .header_gnav_sp ul li a:hover {
        background: rgba(61, 88, 131, 1);
    }

    /*  id, cart
    -----------------------------------------------------------------*/
    .header_head_id_sp {
        margin: 0 auto;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    .header_sp a.header_head_logo {
        display: inline-block;
    }
    .header_sp a.header_head_logo img {
        width: 140px;
        height: auto;
    }
    .header_sp .header_cart_sp {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .header_sp .header_cart_sp img {
        width: 32px;
    }
    .header_warranty_sp {
        padding: 8px 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }
    .header_warranty_sp div:nth-of-type(1) img {
        width: 110px;
    }
    .header_warranty_sp div:nth-of-type(2) img {
        width: 162px;
    }

    /*  商品カテゴリー according-menu
    -----------------------------------------------------------------*/
    .header_cat_sp {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .header_cat_sp > li > p {
        padding: 12px 0;
        cursor: pointer;
        text-align: center;
        background: linear-gradient(#e2e8eb, #dae2e6);
		background: #cfd7de;
        border-bottom: 1px solid #d1d9e0;
        position: relative;
        font-family: kozuka-gothic-pr6n, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4rem;
        color: #444;
		
    }
    .panel-btn-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        width: 18px;
        height: 2px;
        margin: -1px 0 0 -7px;
        background: #999;
        transition: .2s;
    }
    .panel-btn-icon:before, .panel-btn-icon:after{
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 18px;
        height: 2px;
        background: #999;
        transition: .3s;
    }
    .panel-btn-icon:before{
        margin-top: -7px;
    }
    .panel-btn-icon:after{
        margin-top: 5px;
    }

    .header_cat_sp > li > p .close{
        background: transparent;
    }
    .header_cat_sp > li > p .close:before, .header_cat_sp > li > p .close:after{
        margin-top: 0;
    }
    .header_cat_sp > li > p .close:before{
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .header_cat_sp > li > p .close:after{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .header_cat_sp ul {
        display: none;
        text-align: left;
    }
    .header_cat_sp ul p {
        padding: 14px 20px;
        cursor: pointer;
        text-align: left;
        border-bottom: 1px solid #eee;
    }
    .header_cat_sp ul ul {
        display: none;
    }
    .header_cat_sp ul ul li {
        background: #e7ebf0;
        border-bottom: 1px solid #d2d8e2;
        cursor: pointer;
    }
    .header_cat_sp ul ul li a {
        display: block;
        padding: 14px 20px;
        position: relative;
    }
    .header_cat_sp ul ul li a:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        width: 6px;
        height: 6px;
        margin: -4px 0 0 0;
        border-top: solid 2px #aaa;
        border-right: solid 2px #aaa;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .header_cat_sp ul ul li a:hover {
        background: #d6dde5;
    }
    p.dropdown_toggle:after  {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
	.header_cat_sp .cat_subList > li > a {
		padding: 14px 20px 14px 40px;
	}
	.header_cat_sp .cat_subList > li > ul a {
		padding: 14px 20px 14px 60px;
	}
	.header_cat_sp .cat_subList ul {
		display: none;
	}
	.header_cat_sp .cat_subList ul li {
		border-style: none;
	}
	.header_cat_sp .cat_subList ul li a {
		background: #fff;
	}
}

/*  slick-slider
-----------------------------------------------------------------*/
.mainSlider {
    width: 100%;
    height: auto;
    padding: 0 0 20px;
}
.mainSlider .slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-top: 1px solid #eee;
    /*  両サイド見せないときのみ
    width: 100%;
    max-width: 1040px;
    */
}
.slider .slick-slide:not(.slick-center) {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
    transition: 0.2s linear;
}
.mainSlider .slider li {
    padding: 0;
}
.mainSlider .slider img{
    height: auto;
	width: 100%;
    max-width: 1040px;
}
/*slick setting*/
.slick-prev:before, .slick-next:before {
    color: #000;
}
@media only screen and (max-width: 767px) {
    .mainSlider .slider img{
        max-width: 100%;
    }
	.slider .slick-slide:not(.slick-center) {
        -webkit-filter: opacity(100%);
        filter: opacity(100%);
    }
}

.subSlider {
    width: 100%;
    max-width: 1020px;
    height: auto;
    padding: 0 20px 20px;
    margin: 0 auto 20px;
}
.subSlider .sub_slider {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.subSlider .sub_slider img {
    width: 100%;
    height: auto;
}
.subSlider .sub_slider .slick-next {
    right: -30px;
    z-index: 100;
}
.subSlider .sub_slider .slick-prev {
    left: -30px;
    z-index: 100;
}
@media only screen and (max-width: 767px) {
    .subSlider {
        padding: 0 20px;
    }
    .subSlider .sub_slider .slick-next {
        right: -15px;
    }
    .subSlider .sub_slider .slick-prev {
        left: -15px;
    }
}

/*  ランキング
-----------------------------------------------------------------*/
.rank {
    width: 100%;
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto 20px;
}
.rank h2 {
    font-family: agenda, sans-serif;
    font-size: 200%;
    font-weight: 300;
    color: #555;
    display: flex;
    align-items: center;
    margin: 0 0 3px;
}
.rank h2:before, .rank h2:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #ccc;
}
.rank h2:before {
    margin-right: 1em;
}
.rank h2:after {
    margin-left: 1em;
}
.rank p.sub_title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 16px;
    color: #bbb;
}
.rank > div {
    display: flex;
}
.rank > div img {
    width: 100%;
}
.rank > div > div {
	position: relative;
}
.rank > div > div > img.rankBadge {
	position: absolute;
	left: 15px;
	top: -3px;
	width: 36px;
	height: auto;
}
@media only screen and (max-width: 767px) {
    .rank {
        padding: 0 15px;
        margin: 0 0 20px;
    }
    .rank p.sub_title {
        margin: 0 0 8px;
    }
	.rank > div > div {
		position: relative;
	}
	.rank > div > div > img.rankBadge {
		position: absolute;
		left: 8px;
		top: -3px;
		width: 18px;
		height: auto;
	}
}

.coupon_default {
	width: 100%;
	max-width: 1080px;
	padding: 0 20px;
	margin: 0 auto;
}
.coupon_default ul {
	display: flex;
}
.coupon_default img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 767px) {
	.coupon_default {
		display: block;
		padding: 0 15px;
	}
	.coupon_default ul {
		display: block;
	}
	.coupon_default li {
		margin: 0 0 10px;
	}
	.coupon_default img {
		width: 100%;
		height: auto;
	}
}

.bnrQA_sp {
    padding: 0 15px;
}
.bnrQA_sp img {
    width: 100%;
}

/*  注意事項
-----------------------------------------------------------------*/
.attention {
    width: 100%;
    max-width: 1080px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.attention div:first-of-type {
    flex:5;
    background: #e8e8e8;
    padding: 20px;
    position: relative;
}
.attention div:first-of-type:after {
    position: absolute;
    left: 100%;
    top: 50%;
    content: ' ';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid #e8e8e8;
	margin-top: -10px;
}
.attention div:last-of-type {
    flex: 1;
    background: #88bfd8;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.attention h4 {
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0 0 0.5em;
}
.attention p {
    font-size: 1.2rem;
    line-height: 1.3;
}
.attention div:last-of-type p {
    font-size: 1.4rem;
}
.attention div:last-of-type p span {
    font-weight: bold;
}
.attention div:last-of-type p span:last-child {
    font-weight: normal;
    font-size: 1.2rem;
}
.attention h5 {
    padding: 8px 0;
    font-size: 1.5rem;
    margin: 0;
}
.attention div:last-of-type h4 {
	font-size: 1.6rem;
}
.attention div:last-of-type h5 {
	font-size: 1.8rem;
}
.attention div:last-of-type h4:after {
    content: "";
    display: block;
    width: 1px;
    height: 1em;
    background: #fff;
    margin: 10px auto 0;
}
@media only screen and (max-width: 767px) {
    .attention {
        padding: 0 15px;
        display: block;
    }
    .attention div:first-of-type {
        margin: 0;
		padding: 15px;
    }
	.attention div:first-of-type:after {
	    position: absolute;
	    left: 50%;
	    top: 100%;
	    content: ' ';
		display: block;
	    width: 0;
	    height: 0;
	    border: 10px solid transparent;
	    border-top: 10px solid #e8e8e8;
		margin-top: 0;
		margin-left: -10px;
	}
    .attention div:last-of-type {
        display: block;
        text-align: center;
        padding: 15px;
    }
    .attention h4 {
        font-size: 1.2rem;
		line-height: 1.4;
    }
    .attention h5 {
        padding: 8px 0;
        margin: 0;
    }
	.attention div:last-of-type h4 {
		font-size: 1.5rem;
		margin: 0 0 0.3em;
	}
	.attention div:last-of-type h4:after {
	    content: "";
	    display: block;
	    width: 1px;
	    height: .7em;
	    background: #fff;
	    margin: 6px auto 0;
	}
	.attention div:last-of-type h5 {
		font-size: 1.8rem;
		padding: 4px 0;
	}
}

/*  container
-----------------------------------------------------------------*/
.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}
@media only screen and (max-width: 767px) {
    .container {
        display: block;
        padding: 0;
    }
}

/*  sidebar
-----------------------------------------------------------------*/
aside.sidebar {
    width: 220px;
    margin: 0 20px 50px 0;
}
@media only screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }
}
.sideBnr {
    margin: 0 0 30px;
}
h2.sidebar_title {
    font-size: 2.4rem;
    padding: 0 15px .2em 0;
    margin: 0 0 .5em;
    position: relative;
    border-bottom: 2px solid #ddd;
    font-family: agenda, sans-serif;
    font-weight: 300;
    font-style: normal;
}
h2.sidebar_title:before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 15px;
    background: url(../images/icn_list.png) no-repeat;
    margin-right: 5px;
    vertival-align: center;
}
h2.sidebar_title:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 2;
    content: '';
    width: 30%;
    height: 2px;
    background-color: #888;
}
h2.sidebar_title span {
    font-size: 1.2rem;
    color: #bbb;
    font-weight: 600;
    margin: 0 0 0 5px;
}
ul.side_cat {
    margin: 0 0 20px;
    padding: 20px;
    background: #f4f1ef;
}
ul.side_cat li {
    line-height: 1.5;
}
ul.side_cat > li {
    margin: 0 0 1.4em;
}
ul.side_cat > li > a {
    display: block;
    margin: 0 0 .4em;
    position: relative;
    font-weight: bold;
}
ul.side_cat > li > a:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px 0 0;
    background-image: url(../images/icn_sidebarList_03.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
}
ul.side_cat > li > ul > li {
    font-size: 1.4rem;
    margin: 0 0 2px;
}
ul.side_cat > li > ul > li a {
    display: block;
    padding: 3px 0;
    position: relative;
}
ul.side_cat > li > ul > li a:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 8px;
    height: 8px;
    margin: -6px 0 0 0;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
ul.side_cat > li > ul > li > ul {
    margin: 0 0 0 2rem;
}
/*
.sidebar > ul > li > ul > li a:after {
position: absolute;
bottom: 0;
left: 0;
content: '';
width: 100%;
height: 2px;
background: #aaa;
transform: scale(0, 1);
transform-origin: left top;
transition: transform .3s;
}
.sidebar > ul > li > ul > li a:hover:after {
transform: scale(1, 1);
}*/
.sidebar a:hover {
    text-decoration: underline;
}
.side_bnr {
    margin: 0 0 10px;
}
.side_bnr img {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .bnr {
        margin: 40px 0 0;
    }
    .bnr img {
        width: 100%;
        margin: 0 0 10px;
    }
}


/*  main
-----------------------------------------------------------------*/
main {
    flex: 1;
    width: 100%;
    max-width: 830px;
    margin: 0 0 50px;
}
h1.pickup_title {
    font-family: agenda, sans-serif;
    font-size: 200%;
    font-weight: 300;
    color: #555;
    display: flex;
    align-items: center;
    margin: 0 0 3px;
}
h1.pickup_title:before, h1.pickup_title:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #ccc;
}
h1.pickup_title:before {
    margin-right: 1em;
}
h1.pickup_title:after {
    margin-left: 1em;
}
p.sub_title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 16px;
    color: #bbb;
}
.pickup {
    widrth: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 40px;
}
.pickup .pickup_item {
    flex: 1 1 30%;
    margin: 0 20px 20px 0;
}
.pickup .pickup_item:nth-of-type(3n) {
    margin: 0 0 20px 0;
}
.pickup .pickup_item img {
    width: 100%;
}
.others {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
}
.others:last-of-type {
    margin: 0 0 60px;
}
.others .others_item {
    flex: 1;
    margin: 0 20px 0 0;
}
.others .others_item:nth-of-type(2) {
    margin: 0;
}
.others .others_item img {
    width: 100%;
}
.others .others_item_s {
    flex: 1;
    margin: 0 20px 0 0;
}
.others .others_item_s:nth-of-type(4) {
    margin: 0;
}
.others .others_item_s img {
    width: 100%;
}
.fadein {
    opacity : 0;
    transform : translateY(20px);
    transition : all 1s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        display: block;
    }
    main {
        width: 100%;
        padding: 0 15px;
    }
    .pickup .pickup_item {
        flex: 1 1 45%;
        margin: 0 10px 10px 0;
        padding: 0;
    }
    .pickup .pickup_item:nth-of-type(3n) {
        margin: 0 10px 10px 0;
    }
    .pickup .pickup_item:nth-of-type(2n) {
        margin: 0 0 10px 0;
    }
    .others {
        margin: 0 0 10px 0;
    }
    .others .others_item {
        margin: 0 10px 0 0;

    }
    .others .others_item:nth-of-type(2) {
        margin: 0;
    }
}


/*  ヘッダークーポン
-----------------------------------------------------------------*/
.head_coupon {
    width: 100%;
}
.head_coupon div {
    margin: 0 0 20px;
}
.head_coupon div.coupon_l img {
    width: 100%;
}
.head_coupon .coupon_s {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.head_coupon .coupon_s img {
    width: 49%;
    height: 49%;
}
@media only screen and (max-width: 767px) {
    .head_coupon {
        padding: 0 15px;
    }
    .head_coupon div {
        margin: 0 0 10px
    }
    .head_coupon .coupon_s {
        display: block;
    }
    .head_coupon .coupon_s img {
        width: 100%;
    }
    .head_coupon .coupon_s img:first-of-type {
        margin: 0 0 10px;
    }
}
/* フローティングバナー --- 個人輸入
-----------------------------------------------------------------*/
.linkImport a {
    width: 120px;
    position: fixed;
    top: 110px;
    right: -1px;
    display: inline-block;
    z-index: 500;
}
.linkImport img {
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .linkImport {
        padding: 0 15px;
        margin: 0 0 10px;
    }
    .linkImport a {
        width: 100%;
        position: static;
    }
}

/* 年末年始告知
-----------------------------------------------------------------*/
.holidayInfo {
	width: 100%;
	max-width: 1040px;
	padding: 20px 20px;
	margin: 0 auto 15px;
	line-height: 1.4;
	border: 1px solid #888;
}
.holidayInfo h3 {
	margin: 0 0 .7em;
	font-size: 1.8rem;
	font-weight: normal;
	display: flex;
	align-items: center;
}
.holidayInfo h3:before, .holidayInfo h3:after{
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}
.holidayInfo h3:before {
	margin-right: .4em;
}
.holidayInfo h3:after {
	margin-left: .4em;
}
.holidayInfo p {
	margin: 0 0 .5em;
	line-height: 1.6;
	text-align: left;
}
@media only screen and (max-width: 767px) {
	.holidayInfo {
		padding: 20px 15px;
		border: none;
	}
}
