
/* CSS Document */

body{margin:0;padding:0;font-family:'century gothic', 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;}
A:link {text-decoration:none;}
A:visited {text-decoration:none;}
#imgh img{}
A:hover {text-decoration:none;opacity: 0.8;filter: alpha(opacity=80);}
p {margin:0;padding:0;}
li{list-style-type:none;}
.nosoryo{display: none;}

	    /*----- フェードインしながら上へスライド -----*/
    .inviewfadeInUp {
        opacity: 0;
        transform: translate(0, 60px);
        -webkit-transform: translate(0, 60px);
        transition: .7s;
    }
    
    .fadeInUp {
        opacity: 1.0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
/*カテゴリーバナー*/
.category-change {
  position: fixed; 
  width: 100%;
  display: flex;
  justify-content: center;
  top: -1000px;
  transition: .5s;
  height: 82px;
  background-color: #f6c90c; }
  @media all and (max-width: 750px) {
    .category-change {
      height: 55px;
      /* 送料無料分のバナーはあける */ } }
  .category-change .fixed_ctg {
    padding: 0;
    margin: 0 -10px;}
    @media all and (max-width: 750px) {
      .category-change .fixed_ctg {
        margin: 5px -45px; } }
  .category-change img {
    width: 50%; }
    @media all and (max-width: 750px) {
      .category-change img {
        width: 30%;
        padding: 0 5px; } }


/* --------PC用---------- */
@media screen and (min-width: 480px) {

	#spmenubg{display: none;}
	.pcnone{display: none !important;}
	

	
.moimg11 {
    width: 980px;
    height: 180px;
    line-height: 100px;
    text-align: center;
}
.moimg11 img{
    width: 98%;
    transition: 1.0s;
    transform: rotateX(0deg );
}
.moimg11:hover img {
    transform: rotateX( 360deg );
}

	
.moimg1 {
	overflow: hidden;
	width: 140px;
	
}
.moimg1 img {
    width: 350px;
	display: block;
	transition: 0.4s;
}
.moimg1 img:hover {
	transform: scale(1.1, 1.1);
}    
    
　　/*文字サイズ*/
	.midasi{font-size: 30px; font-weight: bold;}
	.come{ font-size:20px;}
	.limit{font-size: 25px; font-weight: bold;float:left; margin:13px 0 0 20px;}
	.limitno{ font-size: 27px; font-weight: bold;}
	.limitno1{ font-size: 33px; font-weight: bold;}	
	.limitno2{ font-size: 48px; font-weight: bold;}
	.limitno3{ font-size: 20px; }
	.bigcate{font-size: 40px; font-weight: bold;}

	/* ロゴ */
.logo {
  padding: 6px 0; }
  .logo img {
    width: 50%; }

.redl {font-size: 80px;color:#FF0000;font-weight: bold; line-height:80px;}
.reds {font-size: 33px;color: #FF0000;font-weight: bold;}
	
	.max{width: 980px;}
    .maxtop{width: 100%;}
	.max2{width: 980px;}
	.max22{width: 980px;}
    .max23{width: 1000px;}
	.max3{width: 990px;}
	.max4{width: 616px;}
	.max5{width: 970px;}
    .max7{width: 985px;}
	.maxlit{width: 850px;}
	.btn{width: 670px;}
	.shohinimg{width: 680px;}
	.shohinimg2{width: 480px;}
	.btnname{font-size: 30px; color: #fff; font-weight: bold;}
	.btnimg{height: 25px;}
	
	.btntime{font-size: 30px; color: #333333; font-weight: bold; margin: 10px;}

	.tks100{height: 100px;}
	.tks50{height: 50px;}


	
.shohin{font-size: 25px;color: #333333; font-weight:bold; margin-top:20px;}
.performance{font-size: 20px;color:#EB0003; font-weight:bold;}
.big{font-size: 30px;color:#EB0003; font-weight:bold;}
.dai{position:absolute; bottom:-5px; width: 450px; height:120px;}
.sale{ height:120px; width: 100%;}

	.kadomaru{border-radius:10px;}
	.two .kadomaru{border-radius:5px;}
	.three .kadomaru,.threel .kadomaru{border-radius:3px;}
	.botan{width:48%;}
.noname{font-size:20px;color: #ffffff;}
/* 商品 */

.dendou{ border:#ceae4f solid 5px;}
.urakimou{ border:#D7931B solid 5px;}
.time{ border:#C1C1C1 solid 3px;}
.time2{ border:#B07730 solid 5px;}
.set{ border:#E4E3E3 solid 3px;}
.set2{ border:#532700 solid 5px;}
.set3{ border:#c379d5 solid 5px;}
.zaiko{ border:#E8021E solid 5px;}
.prem{ border:#E1E1E1 solid 3px;}
.new{ border:#ceae4f solid 5px;}
.cp{ border:#980608 solid 5px;}


.M{width:1000px; padding:0; margin:0 auto;overflow: hidden;}
.M2{width:710px; padding:0; margin:0 auto;overflow: hidden;}
	
.tytle{font-size: 40px; font-weight: bold;width:100%; margin:10px;float:left;}
.textm{font-size:25px; font-weight: bold; width:470px; margin:10px; float:left;}
.textml{font-size:25px; font-weight: bold; width:470px; margin:10px; float:left;}
	
/*  大(メイン１)  */
	.sleft{float: left; width: 486px;}
    .sleft2{float: left; width: 485px;background: white;}
	.sright{float: left; width: 475px;}
	.sright2{float: left; width: 475px;background: white;}
	
	.sleft3{float: left; width: 680px;}
	.sright3{float: left; width: 680px;}
	
.one{width:970px;  margin:0 10px 50px; background-color:#FFF; text-align:center; float:left; display: table;}
.one01{width:960px;  margin:0 10px 10px; background-color:#FFF; text-align:center; float:left; display: table;}	
.one2{width:970px;  margin:0 10px 60px; background-color:#FFF100; text-align:center; float:left; display: table;}

.one3{width:970px;  margin:0 10px 60px; background-color:white; text-align:center; float:left; display: table;}
	
.one .Mgazo{width:455px; margin:5px; float: left;border-radius: 15px;}
.one .Mgazo3{width:475px; margin:5px; float: left;}
.one .Sgazo{height:220px; margin: 5px;border-radius: 15px;}
.one01 .Mgazo{width:475px; margin:5px; float: left;}
.one01 .Mgazo3{width:475px; margin:5px; float: left;}
.one01 .Sgazo{height:230px; margin: 5px;}
.niju{ height:120px !important; width: 100%;}
.name{font-size:18px;color: white; font-weight: bold; margin-bottom:10px !important;}
.pmd{font-size:17px; color: #ffffff; background-color:#E55432; margin:0 10px 10px 5px;}
.sale {font-size: 60px;color:#C71C24;font-weight: bold; line-height:80px;}
.sale2 {font-size: 60px;color:#3E3E3E;font-weight: bold; line-height:80px;}
.sale3 {font-size: 60px;color:#D10205;font-weight: bold; line-height:80px;}
.yen {font-size: 33px;color:#C71C24;font-weight: bold;}
.yen2 {font-size: 33px;color:#3E3E3E;font-weight: bold;}
.yen3 {font-size: 33px;color:#D10205;font-weight: bold;}
.soryo{width:60px;border-radius:3px;}
.soryo3{width:80px;border-radius:5px;}
.soryo4{width:50px;border-radius:5px;}
.nosoryo{display:none;}
	.one .tks{height: 60px;}
.tsujo{font-size: 20px;color: black; text-decoration:line-through;}
.tsujo2{font-size: 18px; font-style: italic; color: #D10205;font-weight: bold;}
.notsujo{font-size: 20px;color: #ffffff;}
	
/*  中  */
.two,.twos{width:470px; margin:0 10px 70px; background-color:#ffffff; text-align:center; float:left;}
.two,.sright3{float: left; width: 470px;background: white}
.two .Mgazo,.twos .Mgazo{width:460px; margin:5px;border-radius: 15px;}
.two .niju,.twos .niju{ height:120px !important; width: 100%;}
.two .name,.twos .name{font-size:18px;color: white; margin:5px 0 !important;}
.two .pmd,.twos .pmd{font-size:17px; color: #ffffff; background-color:#E55432; margin:0 5px;}
.two .sale,.twos .sale{font-size: 50px;color:#C71C24;font-weight: bold; line-height:80px;}
.two .sale2,.twos .sale2{font-size: 80px;color:#D10205;font-weight: bold; line-height:80px;}
.two .sale3,.twos .sale3{font-size: 50px;color:#C71C24;font-weight: bold; line-height:80px;}
.two .yen,.twos .yen{font-size: 33px;color:#C71C24;font-weight: bold;}
.two .yen2,.twos .yen2{font-size: 33px;color:#D10205;font-weight: bold;}
.two .yen3,.twos .yen3{font-size: 33px;color:#C71C24;font-weight: bold;}
.two .soryo,.twos .soryo{width:55px;}
.two .nosoryo,.twos .nosoryo{display:none;}
.two  .tks,.twos .tks{height: 60px;}
.two .sen,.twos .sen{text-decoration: line-through; font-size:30px;}
.two .tsujo,.twos .tsujo{font-size: 20px;color:black; text-decoration:line-through;}
.two .tsujo2,.twos .tsujo2{font-size: 22px; font-style: italic; color:#D10205;font-weight: bold;}
.two .notsujo,.twos .notsujo{font-size: 20px;color: #ffffff;}
	.two .kadomaru,.twos .kadomaru{margin-bottom: 5px;}
.percent{ width:120px; height:120px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06673269/percent012202.jpg); background-repeat:no-repeat; line-height:43px; float:left;}
	
.percent2{ width:110px; height:110px; background-size: 110px;background-image: url("https://cabinet.rms.rakuten.co.jp/shops/darkangel/cabinet/event/2018/08223838/persent.jpg"); background-repeat:no-repeat; line-height:43px; float:left;}
	
.point{ width:120px; height:120px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06204633/imgrc0073326824.jpg); background-repeat:no-repeat; line-height:43px; float:left;}
.number{font-style:italic;font-size: 45px;color:#FAEC04;font-weight:bold; vertical-align: -33px; font-family: 'century gothic',}
	
.number2{font-size: 24px;color:#F4D60E;font-weight:bold; vertical-align: -40px; font-family: 'century gothic', sans-serif;}
.per{font-size: 30px;color: #ffffff;font-weight:bold; vertical-align: -33px; font-family: 'century gothic', sans-serif;}
.nopercent{ display:none;}
.nopercent2{ display:none;}
/*  中  */
.sptwo,.sptwos{width:470px; margin:0 10px 70px; background-color:#ffffff; text-align:center; float:left;}
.sptwo,.sright3{float: left; width: 470px;background: white}
.sptwo .Mgazo,.sptwos .Mgazo{width:460px; margin:5px;border-radius: 15px;}
.sptwo .niju,.sptwos .niju{ height:120px !important; width: 100%;}
.sptwo .name,.sptwos .name{font-size:18px;color: white; margin:5px 0 !important;}
.sptwo .pmd,.sptwos .pmd{font-size:17px; color: #ffffff; background-color:#E55432; margin:0 5px;}
.sptwo .sale,.sptwos .sale{font-size: 50px;color:#C71C24;font-weight: bold; line-height:80px;}
.sptwo .sale2,.sptwos .sale2{font-size: 80px;color:#D10205;font-weight: bold; line-height:80px;}
.sptwo .sale3,.sptwos .sale3{font-size: 50px;color:#C71C24;font-weight: bold; line-height:80px;}
.sptwo .yen,.sptwos .yen{font-size: 33px;color:#C71C24;font-weight: bold;}
.sptwo .yen2,.sptwos .yen2{font-size: 33px;color:#D10205;font-weight: bold;}
.sptwo .yen3,.sptwos .yen3{font-size: 33px;color:#C71C24;font-weight: bold;}
.sptwo .soryo,.sptwos .soryo{width:55px;}
.sptwo .nosoryo,.sptwos .nosoryo{display:none;}
.sptwo  .tks,.sptwos .tks{height: 60px;}
.sptwo .sen,.sptwos .sen{text-decoration: line-through; font-size:30px;}
.sptwo .tsujo,.sptwos .tsujo{font-size: 20px;color:black; text-decoration:line-through;}
.sptwo .tsujo2,.sptwos .tsujo2{font-size: 22px; font-style: italic; color:#D10205;font-weight: bold;}
.sptwo .notsujo,.sptwos .notsujo{font-size: 20px;color: #ffffff;}
	.sptwo .kadomaru,.sptwos .kadomaru{margin-bottom: 5px;}
.percent{ width:120px; height:120px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06673269/percent012202.jpg); background-repeat:no-repeat; line-height:43px; float:left;}
	
.percent2{ width:120px; height:120px; background-size: 120px;background-image: url("https://cabinet.rms.rakuten.co.jp/shops/darkangel/cabinet/event/2018/08223838/persent.jpg"); background-repeat:no-repeat; line-height:20px; float:left;}
	
.point{ width:120px; height:120px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06204633/imgrc0073326824.jpg); background-repeat:no-repeat; line-height:43px; float:left;}
.point02{ width:120px; height:143px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/2019_newitem/11-02/191127-point-34-01.jpg); background-repeat:no-repeat; line-height:43px; float:left;}	
.number{font-style:italic;font-size: 45px;color:#FAEC04;font-weight:bold; vertical-align: -33px; font-family: 'century gothic',}
.number2{font-size: 42px;color:#F4D60E;font-weight:bold; vertical-align: -60px; font-family: 'century gothic', sans-serif;}
.per{font-size: 30px;color: #ffffff;font-weight:bold; vertical-align: -33px; font-family: 'century gothic', sans-serif;}
.nopercent{ display:none;}    
.nopercent2{ display:none;}
    

/*　小　　three:PC小、SP中　threel:PC小、SP大 */
.three,.threel,.threes{width:303px; margin:0px 10px 60px; background-color:#ffffff; text-align:center; float:left;}
.three .Mgazo,.threel .Mgazo,.threes .Mgazo{width:293px; margin:5px;}
.three .niju,.threel .niju,.threes .niju{ height:90px !important; width: 100%;}
.three .name,.threel .name,.threes .name{font-size:15px;color: #333333; margin-bottom:10px !important;}
.three .tsujo,.threel .tsujo,.threes .tsujo{font-size: 15px;color: #666; text-decoration:line-through;}
.three .notsujo,.threel .notsujo,.threes .notsujo{font-size: 15px;color: #fff; text-decoration:line-through;}
.three .sale,.threel .sale,.threes .sale{font-size: 55px;color: #FF0000;font-weight: bold;line-height: 50px;}
.three .yen,.threel .yen,.threes .yen{font-size: 25px;color: #FF0000;font-weight: bold;}
.three .price,.threel .price,.threes .price{font-size: 55px;color: #333;font-weight: bold;line-height: 50px;}
.three .yen2,.threel .yen2,.threes .yen2{font-size: 25px;color: #333;font-weight: bold;}
.three .soryo,.threel .soryo,.threes .soryo{width: 40px;}
.three .nosoryo,.threel .nosoryo,.threes .nosoryo{display:none;}

.three .tks,.threel .tks,.threes .tks{height:5px;}
	
.three .percent,.threel .percent,.threes .percent{ width:80px; height:80px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/01417379/201701event/off_09.jpg); background-repeat:no-repeat; background-size: 80px; line-height:43px; float:left;}
.three .point,.threel .point,.threes .point{ width:80px; height:80px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06204633/imgrc0073326824.jpg); background-repeat:no-repeat; background-size: 80px; line-height:43px; float:left;}
.three .number,.threel .number,.threes .number{font-size: 35px;color: #fff961;font-weight:bold; vertical-align: -17px;}
.three .per,.threel .per,.threes .per{font-size: 20px;color: #ffffff;font-weight:bold; vertical-align: -17px;}
.three .nopercent,.threel .nopercent,.threes .nopercent{ display:none;}

.three .spercent,.threel .spercent,.threes .spercent{ width:80px; height:80px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2017/imgrc0071964183.jpg); background-size: 80px; background-repeat:no-repeat; line-height:43px; float:left;}


/*　PC4列 */
.four{width:227.5px; margin:3px; background-color:#ffffff; text-align:center; float:left;}
.four .Mgazo{width:221.5px; margin:3px;}
	
.four .niju{ height:80px !important; width: 100%;}
.four .name{font-size:12px;color: #333333; font-weight:bold; margin-bottom:10px !important;}
.four .tsujo{font-size: 12px;color: #666; text-decoration:line-through;}
.four .notsujo{font-size: 12px;color: #fff; text-decoration:line-through;}
.four .sale{font-size: 52px;color: #FF0000;font-weight: bold;line-height: 50px;}
.four .yen{font-size: 22px;color: #FF0000;font-weight: bold;}
.four .price{font-size: 52px;color: #333;font-weight: bold;line-height: 50px;}
.four .yen2{font-size: 22px;color: #333;font-weight: bold;}
.four .soryo{width: 35px;}
.four .nosoryo{display:none;}

.four .tks{height:2px;}



	.hmenu{width: 480px; height: 80px; background-color:#F3827A;  text-align: center; display: table; float: left; margin: 5px;border-radius:9px;}
	.hmenu:hover{background-color:#E2EFDB;color:black;}
	.hmenu p{display: table-cell;  vertical-align: middle;}
	.category{color:white;  font-size: 25px; ;font-weight: bold;}
	.huri{color:white; font-size: 20px;font-weight: bold;}
	
    .hmenu2{width:480px; height: 70px; background-color:#272727;  text-align: center; display: table; float:left; margin: 5px;border-radius:9px;}
	.hmenu2:hover{background-color:#31405F; color: gold;}
	.hmenu2 p{display: table-cell;  vertical-align: middle;}
	.category2{color:black;  font-size: 22px; font-weight: bold;}
	.huri2{color:#F1EBED; font-size: 20px;font-weight: bold;}
	
 .hmenu3{width:314px; height: 80px; background-color:#41312C;  text-align: center; display: table; float: left; margin: 6px;border-radius:9px;}
	.hmenu3:hover{background-color:#DF2E4A;color:black;}
	.hmenu3 p{display: table-cell;  vertical-align: middle;}
	.category3{color:black; margin: 5px; font-size: 25px; font-weight: bold;}
	.huri3{color:black;  font-size: 20px;font-weight: bold;}
	
    .hmenu4{width:477px; height: 80px; background-color:#41312C;  text-align: center; display: table; float: left; margin: 6px;border-radius:9px;}
	.hmenu4:hover{background-color:#DF2E4A;color:black;}
	.hmenu4 p{display: table-cell;  vertical-align: middle;}
	.category4{color:black; margin: 5px; font-size: 25px; font-weight: bold;}
	.huri4{color:black;  font-size: 20px;font-weight: bold;}
    
     .hmenu5{width:314px; height: 80px; background-color:#D4D7EA;  text-align: center; display: table; float: left; margin: 6px;border-radius:9px;}
	.hmenu5:hover{background-color:#FEF25D;color:black;}
	.hmenu5 p{display: table-cell;  vertical-align: middle;}
	.category5{color:black; margin: 5px; font-size: 25px; font-weight: bold;}
	.huri5{color:black;  font-size: 20px;font-weight: bold;}
	
	.motto{width: 680px; height: 80px; background-color:#F9AC0D;  text-align: center; display: table;border-radius:5px;}
	.motto p{display: table-cell;  vertical-align: middle;color: #fff;  font-size: 35px; font-weight: bold;}
	

.comming{
    width: 700px;
	height:364px;
    position: absolute;
    top: 0;
    background-color: rgba(71,71,73, 0.9);
	font-size:60px; font-weight:bold;
    color:#ffffff;
    padding: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
	.nocomming{display: none;}

.cp50{position: relative; width: 700px;}


/* 固定バナー */
#right{position: fixed;top:795px;z-index:999999;width:170px;height:150px;right: -15px;display:block;}
	
#right img{ width:130px;border:1px solid #555;border-radius:10px;}
	
#header2{position: fixed;top:20px;z-index:999999;width:145px ;right:-15px;display:block;}

#header2 img{ width:110px;border:0px solid  #A6A6A6;margin: 9px;}

#header{position:fixed;
	bottom: 0px;
	width : 100%;
background:url('https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06637192/1228haikei.jpg');
	z-index:999999;}
	
#header img{ width:120px;border:1px solid #555;border-radius: 5px;margin: 10px 5px 5px 20px;}

.pagetop img{ width:50px;border:0px solid #eeeeee;margin: 1px;}
}
/* --------スマホ用---------- */
@media screen and (max-width: 480px) {
	
	#spmenubg{height:85px; background-color:white;}
	.spnone{display: none !important;}
	
	#liveitem{width: 370px;}
	

	.midasi{font-size: 15px; font-weight: bold;}
	.come{ font-size:13px;}
	.limit{font-size: 12px; font-weight: bold;float:left; margin:5px 0 0 5px;}
	.limitno{font-size: 13px; font-weight: bold;}
	.limitno1{font-size: 22px; font-weight: bold;}
    .limitno2{font-size: 19px; font-weight: bold;}
	.limitno3{font-size: 13px; }
	.kigou{font-size: 50px; font-weight: bold;}
	.bigcate{font-size: 20px; font-weight: bold;}
.redl {font-size:38px;color:#FF0000;font-weight: bold;}
.reds {font-size:17px;color: #FF0000;font-weight: bold;}
/* ロゴ */
.logo {
  padding: 6px 0; }
  .logo img {
    width: 50%; }
	.max{width: 98%;}
	.max2{width:100%;}
    .max3{width: 96%;}
    .max22{width:99%;}
    .max23{width:100%;}
    .max4{width: 100%;}
	.max5{width: 98%;}
	.max7{width: 100%;}	
	.maxlit{width: 98%;}
	.btn{width: 80%;}
	.shohinimg{width:90%;}
	.shohinimg2{width:45%;}
	.btnname{font-size: 15px; color: #fff; font-weight: bold;}
	.btnimg{height: 10px;}
	
	.btntime{font-size: 13px; font-weight: bold; margin:3px;}
	
	.cp{width: 50%;}
	
	.tks100{height: 50px;}
	.tks50{height: 25px;}


	.kadomaru{border-radius:7px;}
	.two .kadomaru,.three .kadomaru,.ones .kadomaru{border-radius:2px; border:solid #222; border-width:2px 0;margin: 10px;}
	.botan{width:48%;}
.noname{font-size:12px;color: #ffffff;}

.tytle{font-size:18px; font-weight: bold;width:100%; float:left;}
.textm{font-size:10px; font-weight: bold; width:50%; float:left;}
.textml{font-size:18px; font-weight: bold;width:100%; float:left;}
	
/* 商品 */
.dendou{ border:#ceae4f solid 2px;box-sizing:border-box;}
.time{ border:#C1C1C1 solid 2px;box-sizing:border-box;}
.time2{ border:#B07730 solid 2px;box-sizing:border-box;}
.urakimou{ border:#D7931B solid 3px;box-sizing:border-box;}
.set{ border:#E4E3E3 solid 2px;box-sizing:border-box;}
.set2{ border: #532700 solid 2px;box-sizing:border-box;}
.set3{ border:#c379d5 solid 2px;box-sizing:border-box;}
.zaiko{ border:#E8021E solid 2px;box-sizing:border-box;}
.prem{ border:#E1E1E1 solid 2px;box-sizing:border-box;}
.new{ border:#8ac7c5 solid 3px;box-sizing:border-box;}
.cp{ border:#980608 solid 2px;box-sizing:border-box;}
	

	
/*  大  */
.M{width:99%; padding:0; margin:0 auto;overflow: hidden;}
.M2{width:350px; padding:0; margin:0 auto;overflow: hidden;}
.one,.threel{width:99%; margin:10px 2px 40px; background-color:#ffffff; text-align:center; float:left;}
.one01,.threel{width:340px; margin:10px 2px 5px; background-color:#ffffff; text-align:center; float:left;}
.one2{width:680px;  margin:0 10px 40px; background-color:#FFF; text-align:center; float:center; display: table;}
.one3,.threel{width:340px; margin:10px 2px 40px; background-color:#ffffff; text-align:center; float:left;}
	
.Mgazo{width:98%; margin:5px;margin-top: 5px;border-radius: 15px;}
.Mgazo3{width:332px; margin:3px;}
.Sgazo{width:46%; margin: 4px;border-radius: 15px;}
.sleft{float: left;}
.sleft2{float: left; background: white; width: 98%;}
.sright2{float: left;background: white;}
.niju{ height:80px !important; width: 100%;}
.pmd{font-size:17px; color: #ffffff; background-color:#E55432; margin:0 5px;}
.name{font-size:13px;color:black; margin:10px; line-height: 1.2;}
.price {font-size: 50px;color:#333;font-weight: bold;}
.yen2 {font-size: 25px;color: #333;font-weight: bold;}
.tsujo{font-size: 15px;color: black; line-height: 1; text-decoration:line-through;}
.tsujo2{font-size: 12px; font-style: italic; color:#D10205;font-weight: bold;}
.one .notsujo{ display: none;}
.sale {font-size:50px;color:#D10205;font-weight: bold;}
.sale2 {font-size:50px;color:#D10205;font-weight: bold;}
.sale3 {font-size:35px;color:#DF0116;font-weight: bold;}
.yen {font-size: 20px;color: #DF0116;font-weight: bold;}
.yen2 {font-size: 25px;color:#DF0116;font-weight: bold;}
.yen3 {font-size: 30px;color:#C71C24;font-weight: bold;}
.soryo{width: 45px;border-radius:3px;}
.soryo3{width: 50px;border-radius:4px;}
.soryo4{width: 80px;border-radius:4px;}
.nosoryo{display:none;}
.percent{ width:75px; height:80px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06673269/percent012202.jpg); background-size:75px; background-repeat:no-repeat; float:left;}

.percent2{ width:90px; height:90px; background-image: url(https://cabinet.rms.rakuten.co.jp/shops/darkangel/cabinet/event/2018/08223838/persent.jpg); background-size:90px; background-repeat:no-repeat; float:left;}
	
.point{ width:80px; height:80px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06204633/imgrc0073326824.jpg); background-size:80px; background-repeat:no-repeat; float:left;}
.point02{ width:70px; height:90px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/2019_newitem/11-02/191127-point-34-01.jpg); background-size:70px; background-repeat:no-repeat; float:left;}
.number{font-style:italic; font-size:35px;color: #fff961;font-weight:bold; vertical-align:0;line-height: 55px; font-family: 'century gothic', sans-serif;}
.number2{font-size:26px;color: #fff961;font-weight:bold; vertical-align:0;line-height: 80px; font-family: 'century gothic', sans-serif;}	
.per{font-size: 20px;color: #ffffff;font-weight:bold; vertical-align:0;line-height: 0; font-family: 'century gothic', sans-serif;}

.per2{font-size: 10px;color: #ffffff;font-weight:bold; vertical-align:0;line-height: 0; font-family: 'century gothic', sans-serif;}
.nopercent{ display:none;}
.nopercent2{ display:none;}	

/*  中  */
.two,.twos,.three{width:99%; margin:0 1px 40px; background-color:#ffffff; text-align:center; float:left;}
.two .Mgazo,.twos .Mgazo,.three .Mgazo{width:98%; margin:2px;margin-top: 5px; border-radius: 15px;}
.two .pmd,.twos .pmd,.three .pmd{font-size:8.5px; color: #ffffff; background-color:#E55432; margin:0 5px;}
.two .name,.twos .name,.three .name{font-size:13px;color: #333333; margin:0 0 5px; line-height: 1.2;}
.two .price,.twos .price,.three .price{font-size: 30px;color:#333;font-weight: bold;}
.two .yen2,.twos .yen2,.three .yen2{font-size: 15px;color: #333;font-weight: bold;}
.two .tsujo,.twos .tsujo,.three .tsujo{font-size: 13px;color: black; line-height: 1.5; text-decoration:line-through;margin: 2px;}
.two,.sright3{float: left;background: white}
.two .tsujo2,.twos .tsujo2,.three .tsujo2{font-size: 12px; font-style: italic; color:#D10205;font-weight: bold;}
.two .tsujo02,.twos .tsujo02,.three .tsujo2{font-size: 8px; font-style: italic; color:#D10205;font-weight: bold;}
.two .notsujo,.twos .notsujo,.three .notsujo{font-size: 10px !important;color: #fff; line-height: 1;}
.two .niju,.twos .niju,.three .niju{ height:50px !important; width: 100%;}
.two .sale,.twos .sale,.three .sale{font-size:40px;color:#D10205;font-weight: bold;}
.two .sale2,.twos .sale2,.three .sale2{font-size:40px;color:#D10205;font-weight: bold;}.two .sale2,.twos .sale2,.three .sale2{font-size:40px;color:#D10205;font-weight: bold;}
.two .sale3,.twos .sale3,.three .sale3{font-size:40px;color:#C71C24;font-weight: bold;}
.two .yen,.twos .yen,.three .yen{font-size: 20px;color:#D10205;font-weight: bold;}
.two .yen2,.twos .yen2,.three .yen2{font-size: 15px;color: #D10205;font-weight: bold;}
.two .yen3,.twos .yen3,.three .yen3{font-size: 20px;color: #C71C24;font-weight: bold;}
.two .soryo,.twos .soryo,.three .soryo{width:40px;}
.two .nosoryo,.twos .nosoryo,.three .nosoryo{display:none;}
.two .tks,.twos .tks,.three .tks{height:3px;}
.two .percent,.twos .percent,.three .percent{width:50px; height:50px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06673269/percent012202.jpg); background-size: 50px; background-repeat:no-repeat; line-height:43px; float:left;}
.two .percent2,.twos .percent2,.three .percent2{width:60px; height:60px; background-image: url(https://cabinet.rms.rakuten.co.jp/shops/darkangel/cabinet/event/2018/08223838/persent.jpg); background-size: 60px; background-repeat:no-repeat; line-height:43px; float:left;}
.two .point,.twos .point,.three .point{width:50px; height:50px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06204633/imgrc0073326824.jpg); background-size: 50px; background-repeat:no-repeat; line-height:43px; float:left;}
.two .number,.twos .number,.three .number{font-style:italic; font-size:24px;color: #fff961;font-weight:bold; vertical-align:0;line-height: 0px; font-family: 'century gothic', sans-serif;}
.two .per,.twos .per,.three .per{font-size: 15px;color: #ffffff;font-weight:bold; vertical-align:0;line-height: 0; font-family: 'century gothic', sans-serif;}	
.nopercent2{ display:none;}		
/*  中  */
.sptwo,.sptwos,.three{width:49%; margin:0 1.5px 35px; background-color:#ffffff; text-align:center; float:left;}
.sptwo .Mgazo,.sptwos .Mgazo,.three .Mgazo{width:97%; margin:1px;margin-top: 3px; border-radius: 15px;}
.sptwo .pmd,.twos .pmd,.three .pmd{font-size:8.5px; color: #ffffff; background-color:#E55432; margin:0 5px;}
.sptwo .name,.twos .name,.three .name{font-size:13px;color: #333333; margin:0 0 5px; line-height: 1.2;}
.sptwo .price,.sptwos .price,.three .price{font-size: 30px;color:#333;font-weight: bold;}
.sptwo .yen2,.sptwos .yen2,.three .yen2{font-size: 15px;color: #333;font-weight: bold;}
.sptwo .tsujo,.sptwos .tsujo,.three .tsujo{font-size: 13px;color: black; line-height: 1.5; text-decoration:line-through;margin: 2px;}
.sptwo,.sright3{float: left;background: white}
.sptwo .tsujo2,.sptwos .tsujo2,.three .tsujo2{font-size: 12px; font-style: italic; color:#D10205;font-weight: bold;}
.sptwo .tsujo02,.sptwos .tsujo02,.three .tsujo2{font-size: 8px; font-style: italic; color:#D10205;font-weight: bold;}
.sptwo .notsujo,.sptwos .notsujo,.three .notsujo{font-size: 10px !important;color: #fff; line-height: 1;}
.sptwo .niju,.sptwos .niju,.three .niju{ height:50px !important; width: 100%;}
.sptwo .sale,.sptwos .sale,.three .sale{font-size:25px;color:#D10205;font-weight: bold;}
.sptwo .sale2,.sptwos .sale2,.three .sale2{font-size:40px;color:#D10205;font-weight: bold;}.two .sale2,.twos .sale2,.three .sale2{font-size:40px;color:#D10205;font-weight: bold;}
.sptwo .sale3,.sptwos .sale3,.three .sale3{font-size:40px;color:#C71C24;font-weight: bold;}
.sptwo .yen,.sptwos .yen,.three .yen{font-size: 20px;color:#D10205;font-weight: bold;}
.sptwo .yen2,.twos .yen2,.three .yen2{font-size: 15px;color: #D10205;font-weight: bold;}
.sptwo .yen3,.twos .yen3,.three .yen3{font-size: 20px;color: #C71C24;font-weight: bold;}
.sptwo .spsoryo,.sptwos .soryo,.three .soryo{width:25px;}
.sptwo .nosoryo,.twos .nosoryo,.three .nosoryo{display:none;}
.sptwo .tks,.twos .tks,.three .tks{height:3px;}
.sptwo .kadomaru,.sptwos .kadomaru{margin-bottom: 0px;}
.sptwos .percent,.twos .percent,.three .percent{width:50px; height:50px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06673269/percent012202.jpg); background-size: 50px; background-repeat:no-repeat; line-height:43px; float:left;}
.sptwo .percent2,.sptwos .percent2,.three .percent2{width:55px; height:55px; background-image: url(https://cabinet.rms.rakuten.co.jp/shops/darkangel/cabinet/event/2018/08223838/persent.jpg); background-size: 55px; background-repeat:no-repeat; line-height:36px; float:left;}
.sptwo .point,.sptwos .point,.three .point{width:50px; height:50px; background-image: url(https://image.rakuten.co.jp/darkangel/cabinet/event/2018/06204633/imgrc0073326824.jpg); background-size: 50px; background-repeat:no-repeat; line-height:43px; float:left;}
.sptwo .number,.sptwos .number,.three .number{font-style:italic; font-size:24px;color: #fff961;font-weight:bold; vertical-align:0;line-height: 10px; font-family: 'century gothic', sans-serif;}
.sptwo .per,.sptwos .per,.three .per{font-size: 15px;color: #ffffff;font-weight:bold; vertical-align:0;line-height: 0; font-family: 'century gothic', sans-serif;}    
 .nopercent2{ display:none;}	  
    
/*  3列　小  */
	.four,.threes{width:32%; margin:2.3px; background-color:#ffffff; text-align:center; float:left;}
.four .Mgazo,.threes .Mgazo{width:96%; margin:2px;}
	
	.four .name,.threes .name{font-size:7px;color: #333333; margin:0 !important; height:15px;}
	
	.four .price,.threes .price{font-size: 25px;color: #333;font-weight: bold;}
.four .yen2,.three .yen2{font-size: 10px;color: #333;font-weight: bold;}
	
	.four .tsujo,.threes .tsujo{font-size: 7px;color: #333;}
.four .notsujo,.threes .notsujo{font-size: 7px;color: #fff;}
.four .niju,.threes .niju{ height:40px !important; width: 100%;}
.four .sale,.threes .sale{font-size: 25px;color:#FF0000;font-weight: bold;}
.four .yen,.threes .yen{font-size: 10px;color: #FF0000;font-weight: bold;}
	
	.four .soryo,.threes .soryo{width: 20px;}
	.four .tks,.threes .tks{height:2px;}

.hmenu{width:47%; height: 40px; background-color:#CCA84F; text-align: center; display: table; float: left; margin:6px;border-radius:10px;}
	.hmenu:hover{background-color:#F3827A; color: #fff;}
	.hmenu p{display: table-cell;  vertical-align: middle;}
	.category{color:white;  font-size:11px; vertical-align: -5px;font-weight: bold;}
	.huri{color:white; font-size: 16px;font-weight: bold;}
	.huri2{color:black; font-weight: bold; font-size:19px;vertical-align: 10px;}
	.hmenu2{width:48%; background-color:#272727; text-align: center; display:table; float:left; margin:3px;border-radius:5px; height: 45px;}
	.hmenu2:hover{background-color:#31405F; color: #fff;}
	.hmenu2 p{display: table-cell;  vertical-align: middle;}
	.category2{color:black; font-size: 17px; font-weight:bold;vertical-align: -10px;}
	
	.hmenu3{width: 31%; height: 40px; background-color:#41312C; text-align: center; display: table; float: left; margin:4px;border-radius:5px;}
	.hmenu3:hover{background-color:#DF2E4A; color: #fff;}
	.hmenu3 p{display: table-cell;  vertical-align: middle;}
	.category3{color:black; margin:3px; font-size: 11px; font-weight: bold;vertical-align: -px;}
	.huri3{color:black; font-size: 16px;font-weight: bold;}
    
    .hmenu4{width: 47.5%; height: 40px; background-color:#41312C; text-align: center; display: table; float: left; margin:4px;border-radius:5px;}
	.hmenu4:hover{background-color:#DF2E4A; color: #fff;}
	.hmenu4 p{display: table-cell;  vertical-align: middle;}
	.category4{color:black; margin:3px; font-size: 11px; font-weight: bold;vertical-align: -px;}
	.huri4{color:black; font-size: 16px;font-weight: bold;}
    
    .hmenu5{width: 31%; height: 40px; background-color:#D4D7EA; text-align: center; display: table; float: left; margin:4px;border-radius:5px;}
	.hmenu5:hover{background-color:#FEF25D; color: #fff;}
	.hmenu5 p{display: table-cell;  vertical-align: middle;}
	.category5{color:black; margin:3px; font-size: 11px; font-weight: bold;vertical-align: -px;}
	.huri5{color:black; font-size: 16px;font-weight: bold;}
    
	
	.motto{width:80%; height: 50px; background-color: #F9AC0D;  text-align: center; display: table;border-radius:6px;}
	.motto p{display: table-cell;  vertical-align: middle;color: #fff;  font-size: 20px; font-weight: bold;}
 
.comming{
    width: 300px;
	height:170px;
    position: absolute;
    top: 0;
    background-color: rgba(71,71,73, 0.9);
	font-size:30px; font-weight:bold;
    color:#ffffff;
    padding: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
	.nocomming{display: none;}

.cp50{position: relative; width: 300px;}
	
			
	
	
	
/*  固定バナー  */

#header{
	position:fixed;
	z-index:30;
bottom: -1px;
    width : 100%;
    background: #ffffff;
}
#header img{width:31.5%; margin: 2px 3px 0px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;}

#header03{
	position:fixed;
	z-index:30;
bottom: 60px;
    width : 100%;
    background: #ffffff;
}
#header03 img{width:99%; margin: 2px 3px 0px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 4px;}    
    
.pagetop{display: none;}
		
.top{
	position:fixed;
	bottom:140px;
	right:-0px;
	height:50px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	z-index:458784545645;
}

#header img2{ width:18%; margin: 0;border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;}
	
.pagetop2{display: none;}	
	.top2{
	position:fixed;
	width:20%;
	bottom:195px;
	right:0px;
	height:50px;
	border-radius: 10px;
	z-index:458784545645;
	
}
	.pagetop3{display: none;}	
	.top3{
	position:fixed;
	bottom:230px;
	right:12px;
	width:19%;
	height:50px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	z-index:458784545645;
}
#header2{position: fixed;
	top: 0px;

	width : 100%;
	z-index:999999;}

#header2 img{ width:19%; margin: 0px;border:0px solid  #878787;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;}
    

}
